<% posts.forEach(post => { %>
    <a id="<%= post.id %>"></a>
    <b><a href="/user/<%= post.accountID %>"><%= post.accountName %></a></b> • <span style="color:grey;"><a href="/post/<%= post.id %>"><%= post.formattedTimestamp %></a></span>
    <% if (post.accountID == id) { %>
        <button onclick="location.href='/post/<%= post.id %>/edit';">Edit Post</button>
    <% } %>
    <p class="preserve-whitespace"><%= post.caption %></p>
    <img class="post-image" src="<%= post.imageURL %>">
    <br>
    <% if (isAuthenticated) { %>
        <form action="/post/<%= post.id %>/react" method="POST" class="reaction-form">
            <button type="submit" class="crunch-button" data-post-id="<%= post.id %>">
                <% if (post.reactions[id] == true) { %>
                    Crunched
                <% } else { %>
                    Crunch
                <% } %>
            </button>
            <span class="reaction-count"><%= Object.keys(post.reactions).length %></span>
            <button type="button" onclick="location.href='/post/<%= post.id %>';"><%= Object.keys(post.comments).length %> Comments</button>
        </form>
    <% } else { %>
        <p><a href="/login?redirectURL=/post/<%= post.id %>">Log in</a> or <a href="/signup?redirectURL=/post/<%= post.id %>">Sign up</a> in order to interact with this <a href="/post/<%= post.id %>">post</a>.</p>
    <% } %>
    <br><br>
<% }) %>
<script>
    document.querySelectorAll('.reaction-form').forEach(form => {
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const form = e.target;
            const button = form.querySelector('.crunch-button');
            const reactionCountSpan = form.querySelector('.reaction-count');
            try {
                const response = await fetch(form.action, {
                    method: form.method,
                });
                if (response.ok) {
                    const data = await response.json();
                    if (data.reacted) {
                        button.textContent = 'Crunched';
                    } else {
                        button.textContent = 'Crunch';
                    }
                    reactionCountSpan.textContent = data.reactionCount;
                }
            } catch (error) {
                console.error('Error reacting to post:', error);
            }
        });
    });
</script>