<% posts.forEach(post => { %>
    <b><a href="/user/<%= post.accountID %>"><%= post.accountName %></a></b> • <span style="color:grey;"><a href="/post/<%= post.id %>"><%= post.formattedTimestamp %></a></span>
    <% if (post.accountID == id) { %>
        <button onclick="location.href='/post/<%= post.id %>/edit';">Edit Post</button>
    <% } %>
    <p class="preserve-whitespace"><%= post.caption %></p>
    <img class="post-image" src="<%= post.imageURL %>">
    <br>
    <% if (isAuthenticated) { %> 
        <button>Crunch</button>
        <button onclick="location.href='/post/<%= post.id %>';">Comments</button>
    <% } else { %> 
        <p><a href="/login?redirectURL=/post/<%= post.id %>">Log in</a> or <a href="/signup?redirectURL=/post/<%= post.id %>">Sign up</a> in order to interact with this <a href="/post/<%= post.id %>">post</a>.</p>
    <% } %> 
    <br><br>
<% }) %>