<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS Styles Hiearchy -->
    <link rel="stylesheet" href="/theme.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/partials.css">
    <link rel="stylesheet" href="/profile.css">
    <!-- Add Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Add Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title><%= profile.name %> | Scrunch</title>
</head>
<body>
    <!-- header.ejs apear only on mobile -->
    <%- include("partials/header.ejs") %>
    <!-- main -->
    <main>
        <!-- sidebar.ejs -->
        <%- include("partials/sidebar.ejs") %>
        <!-- content -->
        <section class="main-content" id="main-content">
            <!-- user/vanity metrics -->
             <section class="profile__info-metrics">
                 <!-- profile avatar-->
                 <div class="profile__avatar"><%= profile.name.charAt(0).toUpperCase() %></div>
                 <!-- profile information -->
                 <article class="profile__information">
                     <h1 class="profile__name"><%= profile.name %></h1>
                     <% if (posts.length != 0) { %>
                        <!-- vanity metrics -->
                        <summary class="profile__vanity-metrics">
                            <ul class="profile__vanity">
                                <li class="profile__metrics">
                                    <h3"><%= posts.length > 1 ? posts.length + ' posts' : posts.length + ' post' %></h3>
                                </li>
                            </ul>
                        </summary>
                    </article>
                </section>
                <!-- feed override - feed.ejs -->
                 <section class="feed-container">
                     <%- include("partials/feed.ejs") %>
                </section>
            <% } else { %> 
                <h3>No posts from <%= profile.name %></h3>
            <% } %> 
        </section>
    </main>
    <!-- bottom_navigation.ejs apear only on mobile -->
    <%- include("partials/bottom_navigation.ejs") %>
</body>
</html>